{
	"extends": ["@bryanrsmith/eslint-config-standard", "prettier"],
	"parser": "@babel/eslint-parser",
	"env": {
		"es6": true,
		"node": true
	},
	"ecmaFeatures": {
		"modules": true,
		"experimentalObjectRestSpread": true
	},
	"overrides": [
		{
			"files": ["test/**/*.js"],
			"env": {
				"jest": true
			}
		}
	]
}
